<div class="contact">
  <%= button_to 'Back to contacts', contacts_path, method: :get %>

  <h2>Events for <%= @contact.email %></h2>

  <div class="contact__events">
    <% @events.each do |event| %>
      <%# TODO: pretty timestamp should be in a model method %>
      <% timestamp = Time.at(event.timestamp).to_datetime %>
      <div class="contact__event">
        <div class="contact__header">
          <h3 class="contact__title"><%= event.event_type.capitalize %></h3> 
          &middot;
          <span><%= timestamp.strftime('%H:%M:%S') %> on <%= timestamp.strftime('%B %e, %Y') %></span>
        </div>

        <p class="contact__sg-event-id">Sendgrid event ID: <%= event.sg_event_id %></p>
      </div>
    <% end %>
  </div>
</div>
