<div class="contact">
  <h2>Contact: <%= @contact.email %></h2>

  <div class="contact__events">
    <% @contact.events.each do |event| %>
      <%# TODO: pretty timestamp should be in a model method %>
      <% timestamp = Time.at(event.timestamp).to_datetime %>
      <div class="contact__event">
        <h3><%= event.event_type.capitalize %> at <%= timestamp.strftime('%H:%M:%S') %> on <%= timestamp.strftime('%B %e, %Y') %></h3>

        <ul>
          <li>Sendgrid event ID: <%= event.sg_event_id %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
