<!DOCTYPE html>
<html>
  <head>
    <title>Secretary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="app">
      <div class="app__wrapper">
        <header class="app__heading">
          <h1 class="heading__title">
            Secretary
          </h1>

          <p class="heading__subtitle">
            Here's what happened to your emails when you weren't looking...
          </p>
        </header>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
